<div class="container-fluid p-0 mb-5 mb-sm-0">
    <div class="owl-carousel header-carousel position-relative">
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="{{ asset('assets/user/img/molka.jpg') }}" alt="Cabinet d'Audiologie">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-sm-10 col-lg-8">
                            <h5 class="text-primary text-uppercase mb-3 animated slideInDown">Votre Audition, Notre Priorité</h5>
                            <h1 class="display-3 text-white animated slideInDown">Bienvenue au Cabinet d'Audiologie</h1>
                            <p class="fs-5 text-white mb-4 pb-2">Des solutions sur mesure pour améliorer votre audition.</p>
                            <a href="#services" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Nos Services</a>
                            <a href="{{ path('app_appointment_new') }}" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Prendre Rendez-vous</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="{{ asset('assets/user/img/appareil1.jpg') }}" alt="Appareils Auditifs">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-sm-10 col-lg-8">
                            <h5 class="text-primary text-uppercase mb-3 animated slideInDown">Des Solutions Adaptées</h5>
                            <h1 class="display-3 text-white animated slideInDown">Appareils Auditifs Sur Mesure</h1>
                            <p class="fs-5 text-white mb-4 pb-2">Retrouvez une meilleure qualité de vie avec nos solutions auditives.</p>
                            <a href="#services" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">En Savoir Plus</a>
                            <a href="#contact" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Nous Contacter</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
