{% extends layout %}

{% block body %}
<div class="container">
    {# <h1>Prendre votre Rendez-vous</h1> #}

    {{ include('appointment/_form.html.twig') }}

    {# <a href="{{ path('app_appointment_index') }}#liste">Retour</a> #}
    </div>
{% endblock %}
