<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ======= Styles ====== -->
   
    <link href="{{ asset('assets/admin/css/style.css') }}" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <style>
    .table-container {
        width: 80%;  /* Ajuste la largeur selon ton besoin */
        margin-left: auto;
        margin-right: 0;
        text-align: center;
    }

    .table-container table {
        width: 100%; /* Pour s'assurer que la table prend toute la largeur du conteneur */
    }
    .liste {
    text-align: center; /* Centre le texte */
    font-weight: 600; /* Épaisseur du texte */
    color: var(--blue); /* Applique la couleur */
    margin-left:100px;
}
.button{
    margin-left:220px;
}
.form-container{
    margin-left:400px;
    
}
.cardHeader {
  display: flex;
  flex-direction: column; /* Permet d'empiler les éléments verticalement */
  align-items: flex-start; /* Aligne le texte à gauche */
}

.search {
  margin-top: 10px; /* Ajoute un espace entre le titre et l'input */
  width: 100%; /* Ajuste la largeur */
}
.serch-outline{
   margin-top:10px;
}
</style>


    <title>{% block title %}Cabinet d'Audiologie et d'Audioprothèse{% endblock %}</title>
</head>
 
<body>
{% block dachbord %}
            {% include 'Layout/partials/dachbord.html.twig' %}
        {% endblock %}
    <header>
        <!-- Barre de navigation ou menu -->
         
    </header>
    <main>
  

        {% block body %}{% endblock %}
    </main>
    <script src="assets/js/main.js"></script>

    <!-- ====== ionicons ======= -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="{{ asset('assets/admin/js/main.js') }}"></script>
     <script>
    function filterCustomers() {
        let input = document.getElementById("searchInput").value.toLowerCase();
        let rows = document.querySelectorAll(".customerRow");

        rows.forEach(row => {
            let cin = row.cells[0].textContent.toLowerCase();
            let nom = row.cells[1].textContent.toLowerCase();

            if (cin.includes(input) || nom.includes(input)) {
                row.style.display = ""; // Affiche la ligne
            } else {
                row.style.display = "none"; // Cache la ligne
            }
        });
    }
</script>
</body>
</html>
